.footer {
    background-color: #18181b; /* zinc-900 */
    padding: 1.5rem;
    text-align: center;
    color: #a1a1aa; /* zinc-400 */
    border-top: 1px solid #27272a; /* zinc-800 */
    flex-shrink: 0;
}