.custom-dropdown-container {
  position: relative;
  width: 100%;
  margin-top: 10px;
  font-family: 'Sora', sans-serif;
}

.custom-dropdown-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 14px;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease;
}

.dropdown-arrow {
  font-size: 10px;
  opacity: 0.7;
}

.custom-dropdown-menu {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #e2e8f0;
  z-index: 50;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.custom-dropdown-item {
  padding: 10px 14px;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background-color 0.2s ease;
}

.custom-dropdown-item:hover {
  background-color: #f8fafc !important; /* Couleur de survol grise très claire */
}

.status-dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
}